[Unit]
Description=URPG Server application
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User={{ application_user_name }}
Group={{ application_group_name }}

Type=simple

Environment="JAVA_HOME={{ java_home }}"
Environment="URPG_DB_PASSWORD={{ urpg_db_password }}"
Environment="CLIENT_ID={{ urpg_server_client_id }}"
Environment="CLIENT_SECRET={{ urpg_server_client_secret }}"
Environment="REDIRECT_URI={{ urpg_server_redirect_uri }}"
WorkingDirectory={{ download_path }}
ExecStart={{ java_home }}/bin/java -jar {{ download_path }}/{{ artifact_id }}.active.{{ archive_extension }}
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target